.ourroom-kinds .ourroom-kinds-heading, .our-rooms-slider .slider-heading {
  font-size: 30px;
  margin-bottom: 60px;
  color: #fff;
  position: relative;
}

.ourroom-kinds .ourroom-kinds-heading::before, .our-rooms-slider .slider-heading::before, .ourroom-kinds .ourroom-kinds-heading::after, .our-rooms-slider .slider-heading::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #f45c43;
  width: 140px;
  height: 3px;
  left: 50%;
}

.ourroom-kinds .ourroom-kinds-heading::before, .our-rooms-slider .slider-heading::before {
  top: 45px;
}

.ourroom-kinds .ourroom-kinds-heading::after, .our-rooms-slider .slider-heading::after {
  top: 52px;
}

.ourroom-kinds .special-for-newlyweds .newlyweds-content .newlyweds-box .newlyweds-heading {
  position: relative;
  color: #fff;
  font-size: 25px;
  margin-bottom: 40px;
}

@media (min-width: 320px) and (max-width: 576px) {
  .ourroom-kinds .special-for-newlyweds .newlyweds-content .newlyweds-box .newlyweds-heading {
    font-size: 22px;
  }
}

.ourroom-kinds .special-for-newlyweds .newlyweds-content .newlyweds-box .newlyweds-heading::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  width: 85px;
  top: 45px;
  height: 3px;
  background-color: #f45c43;
}

.ourroom-kinds .special-for-newlyweds .newlyweds-content .newlyweds-box p {
  font-size: 18px;
  line-height: 1.7;
  color: #adadad;
}

.rooms-discription .carousel .carousel-control-next,
.rooms-discription .carousel .carousel-control-prev {
  top: 50%;
  bottom: 50%;
}

.rooms-discription .carousel .carousel-control-next .carousel-control-next-icon, .rooms-discription .carousel .carousel-control-prev .carousel-control-next-icon,
.rooms-discription .carousel .carousel-control-next .carousel-control-prev-icon,
.rooms-discription .carousel .carousel-control-prev .carousel-control-prev-icon {
  background-image: unset;
}

.rooms-discription .carousel .carousel-control-next .carousel-control-next-icon i, .rooms-discription .carousel .carousel-control-prev .carousel-control-next-icon i,
.rooms-discription .carousel .carousel-control-next .carousel-control-prev-icon i,
.rooms-discription .carousel .carousel-control-prev .carousel-control-prev-icon i {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 20px;
  padding: 10px;
}

.rooms-discription .carousel .carousel-control-next .carousel-control-next-icon i:hover, .rooms-discription .carousel .carousel-control-prev .carousel-control-next-icon i:hover,
.rooms-discription .carousel .carousel-control-next .carousel-control-prev-icon i:hover,
.rooms-discription .carousel .carousel-control-prev .carousel-control-prev-icon i:hover {
  background-color: #f45c43 !important;
}

.sign, .select, .news-button, .discount-button, .suggestion-button,
.send {
  border: none;
  background-color: #f45c43;
  position: relative;
  overflow: hidden;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

::-moz-selection {
  background-color: #f45c43;
  color: #fff;
}

::selection {
  background-color: #f45c43;
  color: #fff;
}

::-webkit-scrollbar {
  background-color: rgba(33, 31, 36, 0.8) !important;
  width: 15px;
}

::-webkit-scrollbar-thumb {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #f45c43 !important;
  height: 20%;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #24252a !important;
}

.go-up {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: fixed;
  z-index: 300;
  background-color: #f45c43;
  color: #fff;
  right: 15px;
  bottom: 30px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 22px;
  cursor: pointer;
  display: none;
}

.go-up:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.container-loading {
  position: fixed;
  z-index: 99999999 !important;
  background-color: #24252a;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.container-loading .loading-content {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: relative;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 200px;
}

.container-loading .loading-content .loading {
  -webkit-animation: rotateLoading 5s linear infinite;
  animation: rotateLoading 5s linear infinite;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-top: 8px solid #f45c43;
}

@-webkit-keyframes rotateLoading {
  form {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotateLoading {
  form {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.ourroom-kinds .ourroom-kinds-heading, .our-rooms-slider .slider-heading {
  font-size: 30px;
  margin-bottom: 60px;
  color: #fff;
  position: relative;
}

.ourroom-kinds .ourroom-kinds-heading::before, .our-rooms-slider .slider-heading::before, .ourroom-kinds .ourroom-kinds-heading::after, .our-rooms-slider .slider-heading::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #f45c43;
  width: 140px;
  height: 3px;
  left: 50%;
}

.ourroom-kinds .ourroom-kinds-heading::before, .our-rooms-slider .slider-heading::before {
  top: 45px;
}

.ourroom-kinds .ourroom-kinds-heading::after, .our-rooms-slider .slider-heading::after {
  top: 52px;
}

.ourroom-kinds .special-for-newlyweds .newlyweds-content .newlyweds-box .newlyweds-heading {
  position: relative;
  color: #fff;
  font-size: 25px;
  margin-bottom: 40px;
}

@media (min-width: 320px) and (max-width: 576px) {
  .ourroom-kinds .special-for-newlyweds .newlyweds-content .newlyweds-box .newlyweds-heading {
    font-size: 22px;
  }
}

.ourroom-kinds .special-for-newlyweds .newlyweds-content .newlyweds-box .newlyweds-heading::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  width: 85px;
  top: 45px;
  height: 3px;
  background-color: #f45c43;
}

.ourroom-kinds .special-for-newlyweds .newlyweds-content .newlyweds-box p {
  font-size: 18px;
  line-height: 1.7;
  color: #adadad;
}

.rooms-discription .carousel .carousel-control-next,
.rooms-discription .carousel .carousel-control-prev {
  top: 50%;
  bottom: 50%;
}

.rooms-discription .carousel .carousel-control-next .carousel-control-next-icon, .rooms-discription .carousel .carousel-control-prev .carousel-control-next-icon,
.rooms-discription .carousel .carousel-control-next .carousel-control-prev-icon,
.rooms-discription .carousel .carousel-control-prev .carousel-control-prev-icon {
  background-image: unset;
}

.rooms-discription .carousel .carousel-control-next .carousel-control-next-icon i, .rooms-discription .carousel .carousel-control-prev .carousel-control-next-icon i,
.rooms-discription .carousel .carousel-control-next .carousel-control-prev-icon i,
.rooms-discription .carousel .carousel-control-prev .carousel-control-prev-icon i {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 20px;
  padding: 10px;
}

.rooms-discription .carousel .carousel-control-next .carousel-control-next-icon i:hover, .rooms-discription .carousel .carousel-control-prev .carousel-control-next-icon i:hover,
.rooms-discription .carousel .carousel-control-next .carousel-control-prev-icon i:hover,
.rooms-discription .carousel .carousel-control-prev .carousel-control-prev-icon i:hover {
  background-color: #f45c43 !important;
}

.sign, .select, .news-button, .discount-button, .suggestion-button,
.send {
  border: none;
  background-color: #f45c43;
  position: relative;
  overflow: hidden;
  font-weight: 400;
}

header {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  z-index: 7;
}

header .shadow-scroll {
  -webkit-box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.3);
}

header .navbar {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 2rem 1rem;
  background-color: transparent;
}

header .navbar .navbar-brand .logo {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (min-width: 320px) and (max-width: 991px) {
  header .navbar .navbar-nav {
    background-color: #211f24;
    padding: 15px 0;
    margin-top: 10px;
  }
}

@media (min-width: 992px) {
  header .navbar .navbar-nav .nav-item:not(:last-child) {
    margin-right: 20px;
  }
}

@media (min-width: 320px) and (max-width: 991px) {
  header .navbar .navbar-nav .nav-item {
    margin: auto;
  }
}

header .navbar .navbar-nav .nav-item .nav-link {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  color: #fff;
}

header .navbar .navbar-nav .nav-item .nav-link:hover {
  color: #f45c43;
  -webkit-transform: translateX(3px);
  transform: translateX(3px);
}

header .navbar .navbar-nav .nav-item .nav-link.active {
  color: #f45c43;
}

header .navbar .navbar-toggler {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #f45c43;
  border: 1px solid #fff !important;
}

header .navbar .navbar-toggler:hover {
  color: #fff;
  background-color: #f45c43;
}

.sign {
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 220px;
  margin: 25px;
  border-radius: 20px;
  padding: 10px 50px;
  letter-spacing: 2px;
}

.sign:hover {
  -webkit-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(0.98);
  transform: scale(0.98);
}

.select {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 140px;
  padding: 8px;
  margin: 0 auto 20px;
}

.select:hover {
  -webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.news-button {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-left: -5px;
  width: 140px;
  padding: 10px;
  border: 1px solid #f45c43 !important;
}

.news-button:hover {
  background-color: transparent;
}

@media (min-width: 320px) and (max-width: 576px) {
  .news-button {
    width: 60%;
  }
}

.discount-button {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 140px;
  margin-top: 20px;
  color: #fff;
  padding: 10px;
  border: 1px solid #f45c43 !important;
}

.discount-button:hover {
  background-color: transparent;
}

.suggestion-button,
.send {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  letter-spacing: 2px;
  width: 50%;
  margin: auto;
  margin-top: 40px;
  color: #fff;
  padding: 10px;
  border-radius: 20px;
}

.suggestion-button:hover,
.send:hover {
  -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

@media (min-width: 320px) and (max-width: 767px) {
  .suggestion-button,
  .send {
    width: 100%;
  }
}

.main-sign .sign-in-button,
.main-sign .sign-up-button {
  margin-top: 15px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .main-sign .sign-in-button,
  .main-sign .sign-up-button {
    width: 70%;
  }
}

a:hover {
  text-decoration: none;
}

.main-link {
  color: #fff;
  position: relative;
  z-index: 2;
}

.main-link:hover {
  color: #fff;
}

.footer .footer-links {
  margin-bottom: 10px;
}

.footer .footer-links ul li a {
  color: #adadad;
  margin-bottom: 10px;
  width: 100px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.footer .footer-links ul li a:hover {
  -webkit-transform: skewX(7deg);
  transform: skewX(7deg);
  color: #f45c43 !important;
}

.ourroom-kinds .ourroom-kinds-heading, .our-rooms-slider .slider-heading {
  font-size: 30px;
  margin-bottom: 60px;
  color: #fff;
  position: relative;
}

.ourroom-kinds .ourroom-kinds-heading::before, .our-rooms-slider .slider-heading::before, .ourroom-kinds .ourroom-kinds-heading::after, .our-rooms-slider .slider-heading::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #f45c43;
  width: 140px;
  height: 3px;
  left: 50%;
}

.ourroom-kinds .ourroom-kinds-heading::before, .our-rooms-slider .slider-heading::before {
  top: 45px;
}

.ourroom-kinds .ourroom-kinds-heading::after, .our-rooms-slider .slider-heading::after {
  top: 52px;
}

.ourroom-kinds .special-for-newlyweds .newlyweds-content .newlyweds-box .newlyweds-heading {
  position: relative;
  color: #fff;
  font-size: 25px;
  margin-bottom: 40px;
}

@media (min-width: 320px) and (max-width: 576px) {
  .ourroom-kinds .special-for-newlyweds .newlyweds-content .newlyweds-box .newlyweds-heading {
    font-size: 22px;
  }
}

.ourroom-kinds .special-for-newlyweds .newlyweds-content .newlyweds-box .newlyweds-heading::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  width: 85px;
  top: 45px;
  height: 3px;
  background-color: #f45c43;
}

.ourroom-kinds .special-for-newlyweds .newlyweds-content .newlyweds-box p {
  font-size: 18px;
  line-height: 1.7;
  color: #adadad;
}

.rooms-discription .carousel .carousel-control-next,
.rooms-discription .carousel .carousel-control-prev {
  top: 50%;
  bottom: 50%;
}

.rooms-discription .carousel .carousel-control-next .carousel-control-next-icon, .rooms-discription .carousel .carousel-control-prev .carousel-control-next-icon,
.rooms-discription .carousel .carousel-control-next .carousel-control-prev-icon,
.rooms-discription .carousel .carousel-control-prev .carousel-control-prev-icon {
  background-image: unset;
}

.rooms-discription .carousel .carousel-control-next .carousel-control-next-icon i, .rooms-discription .carousel .carousel-control-prev .carousel-control-next-icon i,
.rooms-discription .carousel .carousel-control-next .carousel-control-prev-icon i,
.rooms-discription .carousel .carousel-control-prev .carousel-control-prev-icon i {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 20px;
  padding: 10px;
}

.rooms-discription .carousel .carousel-control-next .carousel-control-next-icon i:hover, .rooms-discription .carousel .carousel-control-prev .carousel-control-next-icon i:hover,
.rooms-discription .carousel .carousel-control-next .carousel-control-prev-icon i:hover,
.rooms-discription .carousel .carousel-control-prev .carousel-control-prev-icon i:hover {
  background-color: #f45c43 !important;
}

.sign, .select, .news-button, .discount-button, .suggestion-button,
.send {
  border: none;
  background-color: #f45c43;
  position: relative;
  overflow: hidden;
  font-weight: 400;
}

.about-us .social-media {
  margin-top: 25px;
}

.about-us .social-media i {
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: transparent;
  color: #fff;
  font-size: 22px;
  border: 1px solid #f45c43;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  cursor: pointer;
  text-align: center;
}

.about-us .social-media i:not(:last-of-type) {
  margin-right: 30px;
}

.about-us .social-media i:hover {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  background-color: #f45c43;
}

.why-us .card .icon-container {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  width: 70px;
  height: 70px;
  background-color: #211f24;
  margin: auto;
  border: 1px solid #f45c43;
  text-align: center;
  position: relative;
  top: -30px;
  line-height: 70px;
}

.why-us .card .icon-container i {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #fff;
  position: relative;
  z-index: 2;
  line-height: 70px;
  font-size: 40px;
}

.why-us .card:hover .icon-container {
  background-color: #f45c43;
}

.why-us .card:hover .icon-container i {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.our-pricing i {
  font-size: 30px;
}

.suggestion i {
  border: 1px solid #fff;
  width: 100px;
  height: 100px;
  line-height: 100px;
}

.rooms-discription {
  height: 100vh;
  width: 100%;
  background-color: #24252a;
}

.rooms-discription .carousel {
  width: 100%;
  height: 100%;
}

.rooms-discription .carousel .carousel-inner {
  height: 100%;
}

.rooms-discription .carousel .carousel-inner .carousel-item {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
  background-size: cover;
  width: 100%;
  height: 100%;
}

.rooms-discription .carousel .carousel-inner .carousel-item::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.rooms-discription .carousel .carousel-inner .carousel-item .carousel-caption {
  z-index: 5;
  top: 35%;
  text-align: left;
}

@media (min-width: 320px) and (max-width: 576px) {
  .rooms-discription .carousel .carousel-inner .carousel-item .carousel-caption {
    left: 25%;
  }
}

.rooms-discription .carousel .carousel-inner .carousel-item .carousel-caption .carousel-heading {
  line-height: 1.7;
  margin-bottom: 8px;
  font-weight: bold;
}

.rooms-discription .carousel .carousel-inner .carousel-item .carousel-caption .carousel-p {
  line-height: 1.7;
}

.rooms-discription .carousel .carousel-inner .carousel-item.active {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-animation: reversrotate 2s linear forwards;
  animation: reversrotate 2s linear forwards;
}

@-webkit-keyframes reversrotate {
  0% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}

@keyframes reversrotate {
  0% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}

.rooms-discription .carousel .carousel-inner .carousel-item.one {
  background-image: url("..//..//images/pages//rooms//carosuel//01.jpg") !important;
}

.rooms-discription .carousel .carousel-inner .carousel-item.two {
  background-image: url("..//..//images/pages//rooms//carosuel//02.jpg") !important;
}

.rooms-discription .carousel .carousel-inner .carousel-item.three {
  background-image: url("..//..//images/pages//rooms//carosuel//03.jpg") !important;
}

.rooms-discription .carousel .carousel-inner .carousel-item.four {
  background-image: url("..//..//images/pages//rooms//carosuel//04.jpg") !important;
}

.rooms-discription .carousel .carousel-inner .carousel-item.five {
  background-image: url("..//..//images/pages//rooms//carosuel//05.jpg") !important;
}

.rooms-discription .carousel .carousel-indicators {
  display: none;
}

@media (min-width: 320px) and (max-width: 480px) {
  .rooms-discription .carousel .carousel-control-next {
    right: 8px;
  }
}

.ourroom-kinds {
  position: relative;
  overflow: hidden;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #211f24;
}

.ourroom-kinds i {
  color: #f45c43;
}

.ourroom-kinds .room-box .card {
  overflow: hidden;
  border: none;
  border-radius: unset;
  margin-bottom: 20px;
}

.ourroom-kinds .room-box .card:hover .room-img {
  -webkit-filter: brightness(0.5);
  -moz-filter: brightness(0.5);
  -o-filter: brightness(0.5);
  filter: brightness(0.5);
}

.ourroom-kinds .room-box .card .room-img {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.ourroom-kinds .room-box .card .card-body {
  color: #adadad;
}

.ourroom-kinds .room-box .card .card-body .card-title {
  margin-top: 10px;
  margin-bottom: 0;
}

.ourroom-kinds .special-for-newlyweds {
  overflow: hidden;
}

.ourroom-kinds .special-for-newlyweds .newlyweds-content {
  margin-top: 60px;
  color: #fff;
}

.ourroom-kinds .special-for-newlyweds .newlyweds-content .newlyweds-box .discount {
  margin-top: 40px;
}

@media (min-width: 320px) and (max-width: 768px) {
  .ourroom-kinds .special-for-newlyweds .newlyweds-content .newlyweds-box .discount {
    margin-bottom: 40px;
  }
}

.ourroom-kinds .special-for-newlyweds .newlyweds-content .newlyweds-box .discount p {
  margin-top: 15px;
  font-size: 16px;
}

.ourroom-kinds .special-for-newlyweds .newlyweds-content .newlyweds-box .discount span {
  margin-top: 15px;
}

.ourroom-kinds .special-for-newlyweds .newlyweds-content .newlyweds-box .discount span.one {
  text-decoration: line-through !important;
}

.ourroom-kinds .special-for-newlyweds .newlyweds-content .newlyweds-box img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-filter: brightness(0.5);
  -moz-filter: brightness(0.5);
  -o-filter: brightness(0.5);
  filter: brightness(0.5);
  width: 100%;
  height: 100%;
}

.ourroom-kinds .special-for-newlyweds .newlyweds-content .newlyweds-box img:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  filter: none;
}

.our-rooms-slider {
  background-color: #24252a;
  overflow: hidden;
  padding-top: 80px;
  padding-bottom: 80px;
}

@media (min-width: 320px) and (max-width: 576px) {
  .our-rooms-slider .slider-heading {
    font-size: 25px;
  }
}

.our-rooms-slider .slider-images-container .slick-prev,
.our-rooms-slider .slider-images-container .slick-next {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 35px;
  height: 35px;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
}

.our-rooms-slider .slider-images-container .slick-prev:hover,
.our-rooms-slider .slider-images-container .slick-next:hover {
  background-color: #f45c43;
}

.our-rooms-slider .slider-images-container .slick-prev {
  left: 30px !important;
}

.our-rooms-slider .slider-images-container .slick-next {
  right: 30px !important;
}

.our-rooms-slider .slider-images-container .img-box {
  position: relative;
  overflow: hidden;
}

.our-rooms-slider .slider-images-container .img-box:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.our-rooms-slider .slider-images-container .img-box img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
  height: 100%;
}

.our-rooms-slider .slider-images-container .img-box .room-title {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  height: 40px;
  bottom: 0;
  padding: 10px;
}

.footer {
  position: relative;
  overflow: hidden;
  background-color: #211f24;
  padding-top: 80px;
  color: #adadad;
}

.footer .footer-heading {
  margin-bottom: 30px;
  position: relative;
}

.footer .footer-heading::first-letter {
  color: #f45c43;
  font-size: 29px;
}

.footer .address {
  margin-bottom: 10px;
}

.footer .address ul li {
  margin-bottom: 15px;
}

.footer .address ul li:hover i {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  color: #f45c43;
}

.footer .address ul li i {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 18px;
  margin-right: 3px;
}

.footer .footer-social-media .footer-icon {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 30px;
  height: 30px;
  font-size: 20px;
  margin: auto;
  border: 1px solid;
  line-height: 30px;
  text-align: center;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-bottom: 12px;
}

.footer .footer-social-media .footer-icon:hover {
  -webkit-transform: none;
  transform: none;
  background-color: #f45c43;
  color: #fff;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer .footer-social-media .footer-icon {
    margin-right: 7px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer .footer-social-media .footer-icon.first-icon {
    margin-left: 15px;
  }
}

.footer .right-reserved {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px;
  margin-top: 20px;
}

.footer .right-reserved i {
  color: red;
}

.footer .right-reserved a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #adadad;
}

.footer .right-reserved a:hover {
  color: #f45c43;
}
/*# sourceMappingURL=rooms.css.map */